.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis:150px; flex-grow:0; flex-shrink:0;
  height: 150px;
  width: 150px;
  border: 1px solid #000;
  background-color: #a3705f;
}